h4{
  height: 20px;
  width: 300px;
  display: flex;
  justify-content: center;
}

video:focus{
  outline: none;
  outline-offset: none;
}
#conteiner{
  display: inline-block;
  background-color: #F9F9F9;
}
.four-collum
{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:1em;
  padding: 2em;
}
video{
  width: 100%;
}
@media screen and (max-width:769px){
  .four-collum{
    grid-template-columns: repeat(2, 1fr);
  }
  video{
    width: 80%;
  }
  #conteiner{
    width: 97%;
  }
}
@media screen and (max-width:376px){
  .four-collum{
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    padding:0;
  }
  .four-collum div{
    margin:auto;
    width:220px;
    box-sizing: border-box;
  }
  h4{
    font-size: 10px;
  }

  video{
    width: 80%;
  }
}
