<div class='two-cols'>
  <div class="first-col">
    <ul>
      <a routerLink='account'><li>Account</li></a>
      <a routerLink='notification'><li>Notification</li></a>
      <a routerLink='payback'><li>Payback and performance</li></a>
      <a routerLink='privacy'><li>Privacy</li></a>
      <a routerLink='connact'><li>Connacted apps</li></a>
      <a routerLink='billing'><li>Billing and payments</li></a>
      <a routerLink='advenced'><li>Advenced settings</li></a>
    </ul>
  </div>
  <div class='second-col'>
    <router-outlet></router-outlet>
  </div>
</div>
