<div class='two-cols'>
  <div class="first-col">
    <ul style="list-style: none;margin:0;padding:0">
      <li><a routerLink='account'>Account</a></li>
      <li><a routerLink='notification'>Notification</a></li>
      <li><a routerLink='payback'>Payback and performance</a></li>
      <li><a routerLink='privacy'>Privacy</a></li>
      <li><a routerLink='connact'>Connacted apps</a></li>
      <li><a routerLink='billing'>Billing and payments</a></li>
      <li><a routerLink='advenced'>Advenced settings</a></li>
    </ul>
  </div>
  <div class='second-col'>

    <router-outlet></router-outlet>
  </div>
</div>
