.first{
  display: flex;
  border-bottom: 1px solid #d3d0d0;
  margin-right: 110px;
  padding-bottom: 30px;
  padding-top: 50px;
}
.first h2{
  margin-top:1.5em;
}
a{
  text-decoration: none;
  color: #067CDE;
}
.second{
  margin-top:30px;
  margin-right: 110px;
  padding-bottom: 30px;
}

@media screen and (max-width:769px){
  .first i{
    font-size:80px;
    padding-left: 80px;
  }
}
@media screen and (max-width:426px){
  .third{
    margin-right: 10px;
  }
  .first i{
    font-size:40px;
    padding-left: 40px;
  }
  h2{
    font-size:12px;
  }
  b{
    font-size: 13px;
  }
  p,a{
    font-size: 10px;
  }
  h3{
    font-size: 13px;
  }

}

