<div class="conteiner">
<div class="first">
  <button (click)='myFunction()' id="btnMenu"><i class="fas fa-bars" id="nav"></i></button>
  <a href="/"><i class="fab fa-youtube" id="logo"></i></a>
  <h3>Youtube</h3>
</div>
<div class="second">
<input [(ngModel)]='ser' placeholder="Search">
<a routerLink=''>
  <button (click)='Search()' class='search'><i class="fas fa-search" id="search"></i></button>
</a>
<i class="fas fa-microphone" id="microphone"></i>
</div>
<div class="third">
  <i class="fas fa-video" id="video"></i>
  <i class="fab fa-google-plus-square" id="apps"></i>
  <i class="fas fa-bell" id="note"></i>
  <a href="/Account"><i class="fas fa-user-circle" id="account"></i></a>
</div>
</div>


