<div class="first">
  <div class="one">
  <b>Advanced settings</b>
  <h1>Set up YouTube exactly how you want it</h1>
  </div>
  <div class="two">
    <i class="far fa-play-circle"></i>
  </div>
</div>
<div class="second">
  <div class='box '>
    <div>
      <b>User ID</b>
    </div>
    <div class="box1">
      <input type="text" placeholder="User Id...">
    </div>
    </div>
    <div class='box '>
      <div>
        <b>Channel ID</b>
      </div>
      <div class="box1">
        <input type="text" placeholder="Channel ID...">
      </div>
      </div>
      <div class='box '>
        <div>
          <b>Move channel</b>
        </div>
        <div class="box2">
          <a href="https://www.youtube.com">Move channel to a brand account</a>
          <p>You can move your channel to a brand account</p>
        </div>
        </div>
        <div class='box '>
          <div>
            <b>Delete channel</b>
          </div>
          <div class="box2">
            <a href="https://www.youtube.com">Delete channel</a>
            <p>Deleting your YouTube channel won't close your Google Account</p>
          </div>
          </div>
    </div>

