<div class="first">
  <div class="one">
  <b>Privacy</b>
  <h2>Manage what you share on YouTube</h2>
    <p>Choose who can see your saved playlists and subscriptions <br>
      Review <a href="https://www.youtube.com/">YouTube Terms of Service</a> and <a href="https://www.youtube.com/">Google Privacy Policy</a></p>
  </div>
  <div class="two">
    <i class="far fa-play-circle"></i>
  </div>
</div>
<div class='second'>
  <div class='box'>
     <div>
      <b>Playlists and subscriptions</b>
     </div>
     <div class='two-cols'>
      <app-slider></app-slider>
      <div>
        <b>Keep all my saved playlists private</b>
          <p>Playlists created by others won’t appear on your channel. Playlists created by you have separate, individual privacy settings.<a href='#'>Learn more</a> </p>
      </div>

      <app-slider></app-slider>
      <div>
        <b>Keep all my subscriptions private</b>
          <p>Your subscriptions will not be visible to others. Manage your subscriptions <a href=''>here.</a></p>
      </div>
    </div>
    <div>
     <b> Ads on YouTube</b>
    </div>
    <div>
      <p>You may see ads on YouTube based on general factors, like the topic of a video. The ads you see may also depend on your<br>
      <a href='#'>Google Ads Settings.</a> To learn more about how ads work for family accounts with kids, visit the  <a href='#'>Google for Families Help Center.</a></p>
    </div>
   </div>
</div>

