.first{
  display: flex;
  border-bottom: 1px solid #d3d0d0;
  margin-right: 110px;
  padding-bottom: 30px;
  padding-top: 50px;
}
.first h1{
  margin-top:1.5em;
}
.first i{
  font-size: 110px;
  padding-left:300px;
  padding-top:50px ;
}
.second{
  margin-top:50px;
  border-bottom: 1px solid #d3d0d0;
  margin-right: 110px;
  padding-bottom: 30px;
}
.box{
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-gap:3em;
  margin-top:20px;
}


i{
  font-size: 23px;
}
.chrome b{
  margin-left: 8px;
}
.second i{
  padding-top: 15px;
}
p{
  color: #606060;
}
a{
  text-decoration: none;
  color: #067CDE;
}

@media screen and (max-width:769px){
  .first i{
    font-size:80px;
    padding-left: 80px;
  }
}
@media screen and (max-width:426px){
  .third{
    margin-right: 10px;
  }
  .first i{
    font-size:40px;
    padding-left: 40px;
  }
  h1{
    font-size:12px;
  }
  b{
    font-size: 13px;
  }
  p{
    font-size: 10px;
  }
  h3{
    font-size: 13px;
  }

}

