<div class="first">
  <div class="one">
  <b>Notifications</b>
  <h1>Choose when and how to be notified</h1>
    <p>Select push and email notifications you'd like to receive</p>
  </div>
  <div class="two">
    <i class="far fa-play-circle"></i>
  </div>
</div>
<div class='second'>
  <h3>General</h3>
  <p>Manage your mobile and desktop notifications</p>
  <div class='box'>
    <div>
      <b>Desktop notifications</b>
    </div>
    <div class='two-cols'>
      <app-slider></app-slider>
      <div>
        <b>Get notifications in this browser</b>
        <div class="chrome">
          <i class="fab fa-chrome"></i>
          <b>Chrome</b>
        </div>
        <p>Receive notifications on your computer, even if you're not watching YouTube</p>
      </div>
    </div>
    <div>
      <b>Your preferences</b>
    </div>
    <div class='two-cols'>
      <app-slider></app-slider>
      <div>
        <b>Subscriptions</b>
        <p>Notify me about activity from the <a href="https://www.youtube.com/">channels I'm subscribed t</a></p>
      </div>

      <app-slider></app-slider>
      <div>
        <b>Recommended videos</b>
        <p>Notify me of videos I might like based on what I watch</p>
      </div>

      <app-slider></app-slider>
      <div>
        <b>Activity on my channel</b>
        <p>Notify me about comments and other activity on my channel or videos</p>
      </div>

      <app-slider></app-slider>
      <div>
        <b>Activity on my comments</b>
          <p>Notify me about activity on my comments on others’ videos</p>
      </div>

      <app-slider></app-slider>
      <div>
        <b>Replies to my comments</b><br>
          <p>Notify me about replies to my comments</p>
      </div>

      <app-slider></app-slider>
      <div>
        <b>Mentions</b>
        <p>Notify me when others mention my channel</p>
      </div>

      <app-slider></app-slider>
      <div>
        <b>Shared content</b>
        <p>Notify me when others share my content on their channels</p>
      </div>

    </div>
  </div>
</div>
<div class='third'>
  <h3>Email notifications</h3>
  <p>Your emails are sent to ghambaryanh@gmail.com. To unsubscribe from an email, click the "Unsubscribe" link at the bottom of it. Learn more about emails from<br>YouTube</p>
   <div class='box'>
     <div>
      <b>Permission</b>
     </div>
     <div class='two-cols'>
       <app-slider></app-slider>
       <div>
         <b>Send me emails about my YouTube activity and updates I requested</b>
          <p>If this setting is turned off, YouTube may still send you messages regarding your account, required service announcements, legal notifications, and privacy matters</p>
       </div>
     </div>
     <div>
      <b>Your preferences</b>
     </div>
     <div class='two-cols'>
      <app-slider></app-slider>
      <div>
        <b> General product updates</b>
          <p>Announcements and recommendations</p>
      </div>

      <app-slider></app-slider>
      <div>
        <b>Creator updates and announcements</b>
          <p>Product announcements, creator events, and personalized tips to grow your YouTube channel</p>
      </div>
    </div>
   </div>
</div>
