<div class="first">
  <div class="one">
  <b>Account</b>
  <h1>Choose how you appear and what you see on YouTube</h1>
    <p>Signed in as example@gmail.com</p>
  </div>
  <div class="two">
    <i class="far fa-play-circle"></i>
  </div>
</div>
<div class='second'>
  <h3>Your YouTube channel</h3>
  <p>This is your public presence on YouTube. You need a channel to upload your own videos, comment on videos, or create playlists.</p>
  <div class='box'>
    <div>
      <h3>Your channel</h3>
    </div>
    <div>
      <div class='two-cols'>
        <i class="fas fa-user-circle" id="account"></i>
        <p>Name Surname</p>
      </div>
      <ul>
        <li><a href='https://www.youtube.com'>Channel status and features</a></li>
        <li><a href='https://www.youtube.com'>Create a new channel</a></li>
        <li><a href='https://www.youtube.com'>View advanced settings</a></li>
      </ul>
    </div>
  </div>
</div>
<div class='third'>
  <h3>Your Account</h3>
  <p>You sign in to YouTube with your Google Account</p>
  <div class='box '>
    <div>
      <b>Google Account</b>
    </div>
    <div>
      <a href='https://www.youtube.com'>View or change your Google Account settings</a>
      <p>You will be redirected to your Google Account page</p>
    </div>
  </div>
  <div class='box '>
    <div>
      <b>Membership</b>
    </div>
    <div>
      <b> No membership |</b><a href='https://www.youtube.com'> Get YouTube Premium</a>
      <p>YouTube Premium offers uninterrupted music, ad-free videos, and more</p>
    </div>
  </div>
</div>
